<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8_speed_transmission</title>
    <link rel="stylesheet" href="../static/index/5_speed_transmission.css">
    <link rel="stylesheet" href="../static/index/bootstrap.min.css">
    <script src="../static/index/js/jquery-2.1.3.min.js"></script>
    <script src="../static/index/js/bootstrap.min.js"></script>
</head>
<body class="body">
    
    <div class="container">
        <div class="col-md-6 col-md-offset-10">
            <img src="../static/images/zfmain.png"  >
            <p></p>
          </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-md-offset-4 ">
                <div class="page-header">
                    <h1>Output rev of  <small>8 speed Transmission</small></h1>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8">
              <a href="#" class="thumbnail">
                <img src="../static/images/zf8speed.jpg">
              </a>
            </div>
 
    

            <div class="col-md-4 col-sm-4 ">
               <p style="color: black; margin-top:20px">To Calculate Output rev or Output Torque of Transmission you Need to Input Bounds of Revs or Torques...</p>
               <p style="color: black; margin-top:20px">You Can See Dyno Graph of Car and Control Range of input ond output </p><br>
               <div class="col-md-12 col-sm-4">
                <img src="../static/images/dyno.png" class="img-thumbnail">
              </div>
            </div>

        </div>

    
    <br><br>

<form action="/8_speed_transmission" method="POST">
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" name="first rev" placeholder="Insert inpur rev">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="second rev" placeholder="Insert output rev">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" name="one gear" placeholder="First Gear Ratio">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="two gear" placeholder="Second Gear Ratio">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" name="three gear" placeholder="Third Gear Ratio">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="four gear" placeholder="Forth Gear Ratio">
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-md-6 ">
            <input type="text" class="form-control" name="five gear" placeholder="Fifth Gear Ratio">
        </div>

        <div class="col-md-6 ">
            <input type="text" class="form-control" name="six gear" placeholder="Sixth Gear Ratio">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" name="seven gear" placeholder="Seventh Gear Ratio">
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" name="eight gear" placeholder="Eigth Gear Ratio">
        </div>
    </div>

<br>

<div class="row">
    <div class="col-md-6 col-md-offset-5">
        <button type="submit" class="btn btn-warning" id="calculate" style="color: black;">Calculate</button>
    </div>
</div>



</form>

<div class="container" >
    <div class="row" >
        <div name="result1" style="font-size: 20px;">
            <ul>
                {% for number in result1 %}
            <li>
                {{number}} 
            </li>           
            {% endfor %}
        </ul>
        </div>
    </div>
    
</div>
</body>
</html>