<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aerodyamic</title>
    <link rel="stylesheet" href="../static/index/aerodynamic.css">
    <link rel="stylesheet" href="../static/index/bootstrap.min.css">
    <script src="../static/index/js/jquery-2.1.3.min.js"></script>
    <script src="../static/index/js/bootstrap.min.js"></script>
    <script src="js/aerodynamic.js"></script>

    <div class="row">
        <div class="col-md-6 col-md-offset-10">
          <img src="../static/images/Logo-Mercedesbenz.png"  alt="..." class="img-circle">
          <p>Mercedes/AMG</p>
        </div>
      </div>
    
</head>
<body>
    <form action="/aerodynamic" method="POST">
        <div class="row">
            <div class="page-header text-center" id="header">
              <h1>Aerodynamic Calculation</h1>
            </div>
          </div>
          <br><br><br>


          <div class="container">
            <div class="row" id="Height">
                <div class="col-md-6">
                    <label for="usr">Height</label>
                    <input type="text" name="Height" class="form-control"  placeholder="Input Height (m)"  >
                  </div>


                  <div class="col-md-6" id="Width">
                    <label for="pwd">Width</label>
                    <input type="text" name="Width" class="form-control"  placeholder="Input Width (m)" >
                  </div> 

                  <div class="col-md-6 col-md-offset-3" id="Coefficient">
                    <label for="pwd">Drag Coefficient</label>
                    <input type="text" name="Drag Coefficient" class="form-control"  placeholder="Input Drag Coefficient Number" >
                  </div> 

                  <div class="col-md-6 col-md-offset-3" id="speed">
                    <label for="pwd">Speed</label>
                    <input type="text" name="Speed" class="form-control"  placeholder="Input speed (km/h)" >
                  </div> 

                  

                  <div class="row">
                    <div class="col-md-6 col-md-offset-5">
                      <button type="submit" class="btn btn-warning btn-lg" id="button">Calculate</button>
                  </div>
                </div>

                <div class="row" id="frontal_area" name = "Frontal Area">
                    <div class="col-md-6">
                        Frontal Area is:
                    </div>
                </div>


                <div class="row" id="Drag" name = "Drag Force">
                    <div class="col-md-6">
                        Drag Force is:{{drag}} N
                    </div>
                </div>


             </div>
        </div>








    </form>
</body>

</html>