code<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power of Brake</title>
    <link rel="stylesheet" href="../static/index/Power_of_Brake.css">
    <link rel="stylesheet" href="../static/index/bootstrap.min.css">
    <script src="../static/index/js/jquery-2.1.3.min.js"></script>
    <script src="../static/index/js/bootstrap.min.js"></script>
</head>
<body>
    
  <div class="row">
    <div class="col-md-6 col-md-offset-10">
      <img src="../static/images/Logo-Mercedesbenz.png"  alt="..." class="img-circle">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="page-header text-center" id="header">
      <h1 style="color:white">Power of Brake </h1>
    </div>
  </div>
  <br><br><br>

<form action="/power_of_brake" method="POST">
  <div class="container">
    <div class="row" id="inner">
        <div class="col-md-6">
            <label for="usr" style="color:white">time of Braking</label>
            <input type="text" name="braking time" placeholder="Reaction time of driver + time to Stop" class="form-control" style="background-color:#8FBC8F; color:white;font-size:20px;">
          </div>


          <div class= "col-md-6" id="outer">
            <label for="pwd" style="color:white">Braking Work</label>
            <input type="text" name="Braking work" class="form-control"   style="background-color:#8FBC8F;color:white;font-size:20px;" >
          </div> 



        </div><br><br>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <button type="submit" class="btn btn-warning btn-lg" id="button">Calculate</button>
          </div>
        </div>

      </form>
    </div>




<div class="container">
    <div class="row">
        <div class="col-md-6" style="color: white;font-size:20px;">Power of Braking is: {{power}} W </div>
        
    </div>
</div>
</body>
</html>