<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="../static/index/refreancetable.css">
    <link rel="stylesheet" href="../static/index/bootstrap.min.css">
    <script src="../static/index/js/jquery-2.1.3.min.js"></script>
    <script src="../static/index/js/bootstrap.min.js"></script>
    <script src="../static/index/js/refreancetable.js"></script>
</head>
<body>
    <h1>RefreanceTable of Conditions </h1>
    <p>this tables Contain refreancetable of Tyres and Roads and some Car Aerodynamic data's to use in Calculations</p>
    
    <main class="st_viewport">
      <div class="st_wrap_table" data-table_id="0">
        <header class="st_table_header">
          <h2>Refreance valus for rolling resistance coefficient</h2>
          <div class="st_row">
            <div class="st_column _rank">Road Surface</div>
            <div class="st_column _name">Rolling resistance coefficient (c) </div>

          </div>
        </header>
        <div class="st_table">
          <div class="st_row">
            <div class="st_column _rank">Smooth Tarmac road</div>
            <div class="st_column _name">0.010</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">Smooth tarmac Road</div>
            <div class="st_column _name">0.011</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">Rough,good concrete road</div>
            <div class="st_column _name">0.014</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">Good stone paving</div>
            <div class="st_column _name">0.020</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">Bad,Worn road Surface</div>
            <div class="st_column _name">0.035</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">very good earch tracks</div>
            <div class="st_column _name">0.045</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">Bad earch tracks</div>
            <div class="st_column _name">0.16</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">Loose sand</div>
            <div class="st_column _name">0.15-0.3</div>

          </div>
        </div>
      </div>
      <div class="st_wrap_table" data-table_id="1">
        <header class="st_table_header">
          <h2>Static coefficient of friction</h2>
          <div class="st_row">
            <div class="st_column _rank">Raod speed (km/h)</div>
            <div class="st_column _name">Static coefficientof friction (μ) Dry Road Surface</div>
            <div class="st_column _surname">Static coefficientof friction (μ) Wet Road Surface</div>

          </div>
        </header>
        <div class="st_table">
          <div class="st_row">
            <div class="st_column _rank">50</div>
            <div class="st_column _name">0.85</div>
            <div class="st_column _surname">0.65</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">90</div>
            <div class="st_column _name">0.8</div>
            <div class="st_column _surname">0.6</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">130</div>
            <div class="st_column _name">0.75</div>
            <div class="st_column _surname">0.55</div>


        </div>
      </div>
      <div class="st_wrap_table" data-table_id="2">
        <header class="st_table_header">
          <h2>Dynamic Wheel Radius of common Tyre size (Passenger car)</h2>
          <div class="st_row">
            <div class="st_column _rank">Size</div>
            <div class="st_column _name">Rolling circumference (m)</div>
            <div class="st_column _surname">Dynamic Wheel Radius (m)</div>

          </div>
        </header>
        <div class="st_table">
          <div class="st_row">
            <div class="st_column _rank">155/70 R 13</div>
            <div class="st_column _name">1.671</div>
            <div class="st_column _surname">0.266</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">165/65 R 13</div>
            <div class="st_column _name">1.659</div>
            <div class="st_column _surname">0.264</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">175/65 R 13</div>
            <div class="st_column _name">1.702</div>
            <div class="st_column _surname">0.271</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">155/65 R 14</div>
            <div class="st_column _name">1.793</div>
            <div class="st_column _surname">0.286</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">165/70 R 14</div>
            <div class="st_column _name">1.793</div>
            <div class="st_column _surname">0.286</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">175/65 R 14</div>
            <div class="st_column _name">1.781</div>
            <div class="st_column _surname">0.284</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">175/80 R 14</div>
            <div class="st_column _name">1.940</div>
            <div class="st_column _surname">0.309</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">185/65 R 14</div>
            <div class="st_column _name">1.818</div>
            <div class="st_column _surname">0.289</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">175/55 R 15</div>
            <div class="st_column _name">1.784</div>
            <div class="st_column _surname">0.278</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">185/55 R 15</div>
            <div class="st_column _name">1.784</div>
            <div class="st_column _surname">0.284</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">195/65 R 15</div>
            <div class="st_column _name">1.937</div>
            <div class="st_column _surname">0.308</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">205/60 R 15</div>
            <div class="st_column _name">1.912</div>
            <div class="st_column _surname">0.304</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">215/65 R 15</div>
            <div class="st_column _name">2.016</div>
            <div class="st_column _surname">0.321</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">195/55 R 16</div>
            <div class="st_column _name">1.891</div>
            <div class="st_column _surname">0.301</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">195/60 R 16</div>
            <div class="st_column _name">1.952</div>
            <div class="st_column _surname">0.311</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">205/55 R 16</div>
            <div class="st_column _name">1.928</div>
            <div class="st_column _surname">0.307</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">215/55 R 16</div>
            <div class="st_column _name">1.958</div>
            <div class="st_column _surname">0.312</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">225/55 R 16</div>
            <div class="st_column _name">1.995</div>
            <div class="st_column _surname">0.318</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">235/50 R 16</div>
            <div class="st_column _name">1.958</div>
            <div class="st_column _surname">0.312</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">215/45 R 17</div>
            <div class="st_column _name">1.909</div>
            <div class="st_column _surname">0.304</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">215/55 R 17</div>
            <div class="st_column _name">2.037</div>
            <div class="st_column _surname">0.324</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">215/60 R 17</div>
            <div class="st_column _name">2.106</div>
            <div class="st_column _surname">0.335</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">225/55 R 17</div>
            <div class="st_column _name">2.074</div>
            <div class="st_column _surname">0.330</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">235/65 R 17</div>
            <div class="st_column _name">2.251</div>
            <div class="st_column _surname">0.358</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">255/60 R 17</div>
            <div class="st_column _name">2.251</div>
            <div class="st_column _surname">0.358</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">245/45 R 18</div>
            <div class="st_column _name">2.065</div>
            <div class="st_column _surname">0.329</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">245/50 R 18</div>
            <div class="st_column _name">2.144</div>
            <div class="st_column _surname">0.341</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">255/40 ZR 18</div>
            <div class="st_column _name">2.016</div>
            <div class="st_column _surname">0.321</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">275/40 ZR 18</div>
            <div class="st_column _name">2.065</div>
            <div class="st_column _surname">0.329</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">295/30 ZR 18</div>
            <div class="st_column _name">1.937</div>
            <div class="st_column _surname">0.928</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">335/30 ZR 18</div>
            <div class="st_column _name">2.01</div>
            <div class="st_column _surname">0.320</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">255/40 ZR 19</div>
            <div class="st_column _name">2.071</div>
            <div class="st_column _surname">0.330</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">285/40 ZR 19</div>
            <div class="st_column _name">2.169</div>
            <div class="st_column _surname">0.345</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">295/30 ZR 19</div>
            <div class="st_column _name">2.016</div>
            <div class="st_column _surname">0.321</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">345/30 ZR 19</div>
            <div class="st_column _name">2.108</div>
            <div class="st_column _surname">0.336</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">315/35 R 20</div>
            <div class="st_column _name">2.220</div>
            <div class="st_column _surname">0.354</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">335/30 ZR 20</div>
            <div class="st_column _name">2.166</div>
            <div class="st_column _surname">0.345</div>

          </div>
          
          
        </div>
      </div>
      <div class="st_wrap_table" data-table_id="3">
        <header class="st_table_header">
          <h2>Refrence value for Drag coefficient  </h2>
          <div class="st_row">
            <div class="st_column _rank">Vehicle</div>
            <div class="st_column _name"> c w</div>
            <div class="st_column _surname">A</div>
            <div class="st_column _year">A * c w</div>

          </div>
        </header>
        <div class="st_table">
          <div class="st_row">
            <div class="st_column _rank">Mercedes <br> SLK 200k <br>(Roof open)</div>
            <div class="st_column _name">0.37</div>
            <div class="st_column _surname">1.93</div>
            <div class="st_column _year">0.71</div>
 
          </div>
          <div class="st_row">
            <div class="st_column _rank">Mercedes <br> SLK 200k <br>(Roof close)</div>
            <div class="st_column _name">0.32</div>
            <div class="st_column _surname">1.93</div>
            <div class="st_column _year">0.62</div>

          </div>
          <div class="st_row">
            <div class="st_column _rank">Mercedes <br> SL 500 <br>(Roof open)</div>
            <div class="st_column _name">0.34</div>
            <div class="st_column _surname">2.00</div>
            <div class="st_column _year">0.68</div>
          </div>
          <div class="st_row">
            <div class="st_column _rank">Mercedes <br> SL 500 <br>(Roof close)</div>
            <div class="st_column _name">0.29</div>
            <div class="st_column _surname">2.00</div>
            <div class="st_column _year">0.58</div>

          </div>
        </div>
      </div>
      <div class="st_wrap_table" data-table_id="4">
        <header class="st_table_header">
          <h2>Example of solution Principles for the function "Enable Moving-off and change ratio.0 ... not possible;1 ... very unconfortable;2...unfavorable;3...moderate;4...favorable;5...very favorable "</h2>
          <div class="st_row">
            <div class="st_column _rank">Function</div>
            <div class="st_column _name">Gear Wheel</div>
            <div class="st_column _surname">Pully drive</div>
            <div class="st_column _year">Friction clutch</div>
            <div class="st_column _section">Fluid clutch</div>
            <div class="st_column _section">Torque Converter</div>
            <div class="st_column _section">Hydrostatic gearbox</div>
          </div>
        </header>
        <div class="st_table">
          <div class="st_row">
            <div class="st_column _rank">Convertre Torque</div>
            <div class="st_column _name">5</div>
            <div class="st_column _surname">4</div>
            <div class="st_column _year">0</div>
            <div class="st_column _section">0</div>
            <div class="st_column _year">4</div>
            <div class="st_column _section">4</div>
          </div>
          <div class="st_row">
            <div class="st_column _rank">Vary Slip</div>
            <div class="st_column _name">0</div>
            <div class="st_column _surname">0</div>
            <div class="st_column _year">4</div>
            <div class="st_column _section">3</div>
            <div class="st_column _year">3</div>
            <div class="st_column _section">3</div>
          </div>
          <div class="st_row">
            <div class="st_column _rank">Efficiency</div>
            <div class="st_column _name">5</div>
            <div class="st_column _surname">4</div>
            <div class="st_column _year">4</div>
            <div class="st_column _section">3</div>
            <div class="st_column _year">3</div>
            <div class="st_column _section">4</div>
          </div>
          <div class="st_row">
            <div class="st_column _rank">Service Life</div>
            <div class="st_column _name">4</div>
            <div class="st_column _surname">3</div>
            <div class="st_column _year">3</div>
            <div class="st_column _section">4</div>
            <div class="st_column _year">4</div>
            <div class="st_column _section">2</div>
          </div>
          <div class="st_row">
            <div class="st_column _rank">Reliability</div>
            <div class="st_column _name">2</div>
            <div class="st_column _surname">3</div>
            <div class="st_column _year">2</div>
            <div class="st_column _section">4</div>
            <div class="st_column _year">4</div>
            <div class="st_column _section">3</div>
          </div>
          <div class="st_row">
            <div class="st_column _rank">Ease of use</div>
            <div class="st_column _name">4</div>
            <div class="st_column _surname">2</div>
            <div class="st_column _year">3</div>
            <div class="st_column _section">3</div>
            <div class="st_column _year">3</div>
            <div class="st_column _section">2</div>
          </div>
          <div class="st_row">
            <div class="st_column _rank">Space demand</div>
            <div class="st_column _name">5</div>
            <div class="st_column _surname">3</div>
            <div class="st_column _year">4</div>
            <div class="st_column _section">4</div>
            <div class="st_column _year">4</div>
            <div class="st_column _section">2</div>
          </div>
          <div class="st_row">
            <div class="st_column _rank">Price</div>
            <div class="st_column _name">5</div>
            <div class="st_column _surname">2</div>
            <div class="st_column _year">4</div>
            <div class="st_column _section">2</div>
            <div class="st_column _year">2</div>
            <div class="st_column _section">1</div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <pre>
Developed & Collected by koosha yeganeh
      </pre>
    </footer>
    
</body>
</html>