<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trasnmission</title>
    <link rel="stylesheet" href="../static/index/transmission.css">
</head>
<body>
    <main class="site-wrapper">
        <div class="pt-table desktop-768">
          <div class="pt-tablecell page-home relative" >
          background-position: center;
          background-size: cover;">
                          <div class="overlay"></div>
      
                          <div class="container">
                              <div class="row">
                                  <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                      <div class="page-title  home text-center">
                                        <span class="heading-page"> Tractive Force
                                        </span>
                                          <p class="mt20">Tractive Force for Each Gear</p>
                                      </div>
      
                                      <div class="hexagon-menu clear">
                                          <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a href="/calculation_of_tractive_force_5speed"  target="_blank" class="hex-content">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa fa-universal-access"></i>
                                                      </span>
                                                      <span class="title">5 Speed Transmission Tractive Force</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                              </a>
                                          </div>
                                          <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a href="/calculation_of_tractive_force_6speed" target="_blank" class="hex-content">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa fa-bullseye"></i>
                                                      </span>
                                                      <span class="title">6 Speed Transmission Tractive Force</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                              </a>
                                          </div>
                                          <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a href="/calculation_of_tractive_force_7speed" target="_blank" class="hex-content">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa fa-braille"></i>
                                                      </span>
                                                      <span class="title">7 Speed Transmission Tractive Force</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                              </a>    
                                          </div>
                                          <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a href="/calculation_of_tractive_force_8speed" target="_blank" class="hex-content">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa fa-id-badge"></i>
                                                      </span>
                                                      <span class="title">8 Speed Transmission Tractive Force</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                              </a>
                                          </div>
                                          <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a href="/calculation_of_tractive_force_9speed" target="_blank" class="hex-content">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa fa-life-ring"></i>
                                                      </span>
                                                      <span class="title">9 Speed Transmission Tractive Force</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                              </a>
                                          </div>
                                          <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a href="#" target="_blank" class="hex-content">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa fa-clipboard"></i>
                                                      </span>
                                                      <span class="title">..........</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                              </a>
                                          </div>
                                          <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a href="/Refrence.html" target="_blank" class="hex-content">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa fa-map-signs"></i>
                                                      </span>
                                                      <span class="title">Refrence</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
        </main>
      
    
</body>
</html>



