body{
    text-align: center;
    background-image: url(../images/2020-Formula1-Mercedes-AMG-W11-EQ-Performance-007-1080.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

